.App {
  text-align: center;
  margin:80px auto;
  background-color: rgb(101, 86, 86);
  width: 500px;
  height: 500px;
  position: relative;
  box-sizing: border-box;
}
.child{
  width: 250px;
  height: 250px;
  text-align: center;
position: absolute;
top: 50%;
left: 50%;
margin: -125px 0 0 -125px;
}
h1{
  padding-top: 20px;
  color: #fff;
  text-align: center;
}
h2{
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}
button{
  width: 125px;
  height: 31.25px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 7px;
}
button:hover{
  background-color: rgb(101, 86, 86);
  color: #fff;
  border-radius:7px solid;
  width: 150px;
  height: 35px;
}
p{
  color: #fff;
}
